.hidden {
    display: none;
}

/*---------------------------Commons--------------------------*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    font-weight: 400;
    background-color: #fff;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/*---------------------------Common --------------------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }
        
}

@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {

    .section {
            padding-top: 120px;
            padding-bottom: 120px;
        }

}

/*---------------------------Header Navigation mobile --------------------------*/

.header-border {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    ;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav,
.contacts {
    display: none;
}
.navbar-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: block;


}

.logo-decoration {
    color: #2e2f42;
}

.burger-btn {
    padding: 16px 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

.navbar-nav .link:active,
.navbar-nav .link:hover,
.contacts .link:hover,
.contacts .link:active,
.contacts .link:focus {
    color: #404bbf;
}

.navbar-nav .link:focus {
    color: #404bbf;
    outline: none;
}

/*---------------------------Header Navigation tablet --------------------------*/

@media screen and (min-width: 768px) {

.burger-btn {
    display: none;
    }

.navbar {
    display: flex;
    align-items: center;
    }

.navbar-nav {
    display: flex;
    gap: 40px;
    }
        
.navbar-nav .link {
    display: block;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts {
    display: flex;
    }

    .contacts-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
            
    }


    .contacts .link {
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-list {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .navbar-logo {
        margin-right: 120px;
    }

    .navbar-nav .nav-item:first-child .link {
        color: #404bbf;
    }
        
    .navbar-nav .active-link::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -1px;
        width: 0;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
    }

        
   

}

/*---------------------------Header Navigation desktop --------------------------*/

@media screen and (min-width: 1158px) {

    .contacts-item {
        flex-direction: row;
        gap: 40px;
    
    }

    .contacts-list {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

}

/*---------------------------First section mobile --------------------------*/

.header-section {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background-firstsec-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px;
    margin: 0 auto;
}

@media (min-resolution: 192dpi) {
    .header-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background-firstsec-mobile2x.jpg);
    }
}

.header-section .page-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;

}

.order-button {
    background-color: #4d5ae5;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:active,
.order-button:focus {
    background-color: #404bbf;
}

/*---------------------------First section tablet --------------------------*/

@media screen and (min-width: 768px) {

.header-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background-firstsec-tablet.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    }

@media (min-resolution: 192dpi) {
    .header-section {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background-firstsec-tablet2x.jpg);
    }
}

.header-section .page-tittle {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
}

.order-button {
    margin-top: 36px;
}

}

/*---------------------------First section desktop --------------------------*/

@media screen and (min-width: 1158px) {

    .header-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background-firstsec.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    }

    @media (min-resolution: 192dpi) {
        .header-section {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background-firstsec2x.jpg);
    }
    }

    .order-button {
        margin-top: 36px;
    }
    
}

/*---------------------------Sections fonts commons--------------------------*/
.feature-tittle,
.section-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.feature-tittle {
    margin-bottom: 8px;
}



.position,
.portfolio-descr,
.feature-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.feature-descr {
    font-weight: 500;
}
.position {
    text-align: center;
}

.name-tittle,
.portfolio-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.name-tittle {
    text-align: center;
}

@media screen and (min-width: 768px) {
    
        .feature-tittle {
            text-align: left;
        }
}

@media screen and (min-width: 1158px) {
    .feature-tittle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;    
        }

    .feature-descr {
        font-weight: 400;
    }
}


/*---------------------------Feature section mobile --------------------------*/




.feature-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
}

.feature-list .list-items-box {
    max-width: 288px;

}

/*---------------------------Feature section tablet --------------------------*/

@media screen and (min-width: 768px) {
    
    .feature-list {
            row-gap: 72px;
            column-gap: 24px;
        }

        .feature-list .list-items-box {
            max-width: 356px;
            flex-basis: calc((100% - 24px) / 2);
        }
}

/*---------------------------Feature section desktop --------------------------*/

@media screen and (min-width: 1158px) {
    .feature-list .list-items-box {
            max-width: 264px;
        }

    .feature-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #8E8F99;
            border-radius: 4px;
            padding: 24px 100px;
            margin-bottom: 8px;
            background-color: #F4F4FD;
            height: 112px;
        }
}


@media screen and (max-width: 1157px) {
    .feature-icon-container {
        display: none;
    }
}


/*---------------------------Team section mobile --------------------------*/

.team-section {
    background: #f4f4fd;
}

.team-list {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}
.team-list>.list-items-box {
    
    max-width: 264px;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-cardinfo {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 32px 16px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-links .link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-links .link-icon:focus,
.social-links .link-icon:hover {
    background-color: #404BBF;
}

.form-btn .icon,
.link-icon .icon {
    fill: #f4f4fd;
}

/*---------------------------Team section tablet --------------------------*/

@media screen and (min-width: 768px) {

    .team-list {
    
            justify-content: center;
            row-gap: 64px;
            column-gap: 24px;
    }

    .team-list>.list-items-box {
    
            flex-basis: calc((100% - 24px) / 2);
        }
}

/*---------------------------Team section desktop --------------------------*/

@media screen and (min-width: 1158px) {
    .team-list>.list-items-box {
    
            flex-basis: calc((100% - 72px) / 4);
        }
}